//
// Icon Font: leichtr-font
//

@font-face {
  font-family: "leichtr-font";
  src: font-url("leichtr-font_f3f6e061b7860d8574d02be112ae7f54.eot");
  src: font-url("leichtr-font_f3f6e061b7860d8574d02be112ae7f54.eot?#iefix") format("embedded-opentype"),
       font-url("leichtr-font_f3f6e061b7860d8574d02be112ae7f54.woff") format("woff"),
       font-url("leichtr-font_f3f6e061b7860d8574d02be112ae7f54.ttf") format("truetype"),
       font-url("leichtr-font_f3f6e061b7860d8574d02be112ae7f54.svg#leichtr-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "leichtr-font";
    src: font-url("leichtr-font_f3f6e061b7860d8574d02be112ae7f54.svg#leichtr-font") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow-left:before,
.icon-arrow-link:before,
.icon-arrow-right:before,
.icon-create:before,
.icon-group:before,
.icon-leichtr-symbol:before,
.icon-logout:before,
.icon-overview:before,
.icon-settings:before {
  display: inline-block;
  font-family: "leichtr-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-arrow-left:before { content: "\f100"; }
.icon-arrow-link:before { content: "\f101"; }
.icon-arrow-right:before { content: "\f102"; }
.icon-create:before { content: "\f103"; }
.icon-group:before { content: "\f104"; }
.icon-leichtr-symbol:before { content: "\f105"; }
.icon-logout:before { content: "\f108"; }
.icon-overview:before { content: "\f106"; }
.icon-settings:before { content: "\f107"; }
