@import "leichtr-font-rails";

.icon {
  display: inline-block;
  font-size: 92%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  &.icon-symetics { font-size: 85%; }
  &.icon-arrow-right { margin-left: 5px; }
}
